@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');


* {
    margin: 0;
    /* font-size: 17px; */
    font-family: 'Gothic A1', sans-serif;
}

ul,ol,li,a {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #666;
}

.photo:hover { opacity: 0.8;}

header {
    width: 1000px;
    background-color: #ffffff;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
     justify-content: space-between;}

nav a:hover { background-color:  #13bd7e;
  border-radius: 9px; color: #ffffff;}
.a { cursor: pointer; }

/*헤더 부분 반응형 내비게이션 제작 */

/* @media (max-width: 767px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 50px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li a {
        padding: 15px;
        text-decoration: none;
        color: #666;
        display: block;
        text-align: center;
    }

    .a {
        display: block;
    }

    .b {
        display: none;
        position: absolute;
        top: 60px;
        left: 0px;
        width: 100%;
    }

    .b ul li a {
        display: block;
        width: 100%;
        line-height: 150%;
    }

}
@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        line-height: 50px;
        font-weight: bold;
        font-size: 15px;
    }

    nav ul {
        display: flex;
    }

    nav ul li a {
        padding: 15px;
        text-decoration: none;
        color: #272727;
        position: relative;
    }

    .a {
        display: none;
    }

    .b {
        display: block;
    }
} */

/*내게 맞는 신용카드를 찾아드려요!*/
#wrap3 {
    width:1000px;
    height : 300px;
    color: #272727;
    font-size: 19px;
    margin: 0 auto;



    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


#wrap3 > div > div > button {
    width: 380px;
    height: 80px;
    background-color: #13bd7e;
    border-radius: 9px;
    border: none;
}

#j {
    background-image: url(img/jeonse-house.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    float: right;
    background-position: center;
    background-size: contain;
   

}

#icons {
  vertical-align:middle;
}

/*이순신 응용 반응형*/

* {margin: 0; padding: 0; box-sizing: border-box;}
   
ul, ol, li { list-style: none; margin: 0; padding: 0;}

#wrap4 {width: 1000px; height: 1400px; margin: 0 auto; }

#wrap4 h2 { font-size: 30px; padding: 10px; margin-top: 20px; color: #272727;}


#div1 {width: 100%; height: 1300px; text-align: left; }
#div2 {width: 100%; height: 1300px; text-align: left; display: none;}
#div3 { width: 100%; height: 1300px; text-align: left; display: none;}

#wrap4 img { width: 100%; height: 500px; border-radius: 20px;}

.textbox {width: 97%; height: 300px; background-color: #ffffff; margin: 30px 0 0 30px; font-size: 18px; line-height: 37px; color: #272727; font-weight: 200;}




#article_b  {
  margin-top: 200px;
  width: 1000px;
  height: 150px;
}



#article_b > table {
  width: 1000px;
  background-color: #fff;
  padding: 10px;
  border-radius: 9px;
  color: #272727;
  margin-top: 230px;

}


#article_b table td { 
  border-bottom:1.1px solid #e1e1e1;}

  #article_b table td button:hover {
    background-color: #a6ffde; 
    padding: 0px 10px;
    border-radius: 9px;
  }

#article_b > table button {
  width: 100%;
  border: none;
  text-align: left;
  background-color: #fff;

}



#button_1 {
    width: 100%;
    height: 80px;
    background-color: #ff8aad;
    border-radius: 10px;
    border: none;
    margin: 20px 0px;
    position: relative;
  }

  #button_1 img {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 20px;
    bottom: 15px;
  }

  #button_1 > p:nth-of-type(1) {
    text-align: left;
    margin-left: 80px;
    color: #fff;
  }

  #button_1 > p:nth-of-type(2) {
    text-align: left;
    margin-left: 80px;
    font-size: 20px;
    color: #fff;
  }




  #button_2 {
    width: 100%;
    height: 80px;
    background-color: #877af5;
    border-radius: 10px;
    border: none;
    margin: 20px 0px;
  }

  
#button_2 {
width: 100%;
height: 80px;
background-color: #877af5;
border-radius: 10px;
border: none;
margin: 20px 0px;
position: relative;
}


#button_2 img {
width: 50px;
height: 50px;
position: absolute;
left: 20px;
bottom: 15px;
}

#button_2 > p:nth-of-type(1) {
text-align: left;
margin-left: 80px;
color: #fff;
}

#button_2 > p:nth-of-type(2) {
text-align: left;
margin-left: 80px;
font-size: 20px;
color: #fff;
}

  /* #article_b > button {

    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #8f8f8f;
  } */


 /*뱅크 샐러드의 장점*/

 #wrap2 { display: flex;
    justify-content: space-evenly;
    width: 1000px;
    height: 300px;
    margin: 0 auto;
    border-radius: 9px;
    font-size: 14px;
 
}

    #g {
        margin-left: 29%;
    }

    #wrap2 > div {
        width: 250px;
        height: 300px;
    }

    #wrap2 > div > p {
        text-align: center;
        line-height: 25px;  
    }

    #wrap2 > div >  p > b {
      font-size:15px;
      
    }

    /*footer 부분 아직 반응형 적용 안 함*/
#wrap6 {
    width: 100%;
    height: 100px;
    background-color: #f2f1e4;
    color: #535353;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
  
  
  /*footer 부분 아직 반응형 적용 안 함 */
  #wrap7 {
  
    width: 1000px;
    height: 600px;
    background-color: #ffffff;
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    color: #272727;
  }
  
  #wrap7 > div {
    width: 200px;
    height: 350px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  
  }
  
  #wrap7 > div > a {
  
    font-size: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    
  }
  
  #wrap7 > div > a > img {
    width: 200px;
    
  }
  
  #wrap7 ul > li {
    list-style: none;
    margin-bottom: 30px;
    font-size: 18px;
    text-decoration: none;
    
  }
  
  #wrap7 h3 {
    font-size: 20px;
  }
  
  
  /*슬라이더 부분 아직 반응형 적용 안함*/
  #slidewrap {
    width: 1000px;
    height: 400px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
  
  }
  
  .slide {
    width: 3000px;
  }
  
  .slide li {
    width: 1000px;
    height: 400px;
    float: left;
  }
  
  .slide li img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
  }
  
  
  
  span {
    position: absolute;
    top: 50%;
    display: block;
    font-size: 38px;
    color: #fff;
    line-height: 57px;
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
    height: 50px;
    transform: translateY(-50%);
  }
  
  span:hover {
    background: rgba(255, 255, 255, 0.8);
    color: #000;
  }
  
  .prev {
    left: 0;
    border-radius: 0 10px 10px 0px;
    padding: 0 8px 0 2px;
  }
  
  .next {
    right: 0;
    border-radius: 10px 0px 0px 10px;
    padding: 0 2px 0 8px;
  }
  
  /*footer2 부분 아직 반응형 적용 안 함*/
  
  
  #footer2 {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    align-items: center;
  }
  
  #wrap8 {
    
     height: 100px;

  
  }
  
  /*메인 페이지의 맨 마지막 부분 아직 반응형 적용 안 함*/
  
  #wrap9 {
    width: 100%;
    height: 250px;
    font-size: 13px;
   }
  
   #main_last {
    width: 1000px;
  display: flex;
  padding: 30px 0px 0px 0px;
  color: #666;
  margin: 0 auto;
   }
  
  
  
  /*다운로드 안드로이드, 애플 권유 부분 큰 폰 사진 있는 부분  -> 아직 반응형 적용 안 함 */
  
   #wrap5 {
    width: 100%;
    height: 600px;
    background-image: url('https://cdn.banksalad.com/app/banksalad-web/landing-app-ad-banner-pc.png');
    background-position: 15% 10%;
  
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  
  }
  
  #award {
    color: #fff;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;

  }
  
  #wrap5 img {
    width: 210px;
    height: 60px;
  }
  
  #wrap5 > div {
    margin: 15px 0px 0px 0px;
  
  }
  

  /*자주 쓰는 메뉴 정렬*/


  
  #wrap1 {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    margin-top: 4%;
    font-size: 14px;
   
}

#often {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: center;
    
}


#often img {
    width: 50%;
    height: 50%;
   margin-left: 25%;
}

#often div {
    width: 100px;
    height: 100px;
}

#often p { margin-left: 12%;
    margin-top: 7px;

}