@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@300&display=swap');


* {
    margin: 0;
    font-size: 17px;
    font-family: 'Gothic A1', sans-serif;
}

ul,ol,li,a {
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: #666;
}

.photo:hover { opacity: 0.8;}

header {
    width: 1000px;
    background-color: #f2f1e4;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
     justify-content: space-between;}

nav a:hover { background-color: #eee;}
.a { cursor: pointer; }

/*헤더 부분 반응형 내비게이션 제작 */

@media (max-width: 767px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        line-height: 50px;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li a {
        padding: 15px;
        text-decoration: none;
        color: #666;
        display: block;
        text-align: center;
    }

    .a {
        display: block;
    }

    .b {
        display: none;
        position: absolute;
        top: 60px;
        left: 0px;
        width: 100%;
    }

    .b ul li a {
        display: block;
        width: 100%;
        line-height: 150%;
    }

}
@media (min-width: 768px) {

    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        line-height: 50px;
    }

    nav ul {
        display: flex;
    }

    nav ul li a {
        padding: 15px;
        text-decoration: none;
        color: #666;
        position: relative;
    }

    .a {
        display: none;
    }

    .b {
        display: block;
    }
}


/*배너 부분 반응형 카드 세 개 - > 이거 서브 페이지에서 활용하기 메인에서 빼고 

@media (max-width: 767px) {
    #wrap1 {
        width: 1000px;
        height: auto;
        margin: 0 auto;
        display: flex;
        justify-content: space-evenly;
        align-content: space-evenly;
        flex-flow: row wrap;
    }

    .box {
        width: 90%;
        height: 300px;
        margin: 20px 0px;
        text-align: center;
    }

    .photo {
        width: 100%;
        height: 200px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media (min-width: 768px) {
    #wrap1 {
        width: 1000px;
        height: 450px;
        margin: 0 auto;
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-flow: row wrap;
        overflow: hidden;
        padding-top: 200px;
    }

    .box {
        width: 300px;
        height: 300px;
    }

    .photo {
        width: 60%;
        height: 400px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        margin-left: 20%;
    }

    .photo:hover {
        padding-bottom: 50px;
        transform: translate(0, -100px);
    }

}

*/


/*내게 맞는 신용카드를 찾아드려요!*/

@media (max-width: 767px) {
    #wrap2 {

      display: flex;
      flex-direction: column;
      align-content: center;
      width: 100%;
      margin: 0 auto;
      height: auto;
}


 
    #wrap2>div>div>button {
      width: 60%;
      height: 60px;
      background-color: #13bd7e;
      border-radius: 50px;
      border: none;
}

#j {
    background-image: url(img/jeonse-house.png);
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: contain;

}


}

@media (min-width:768px) {

    #wrap2 {
        width:1000px;
        height : 400px;
        color: rgb(40, 40, 40);
        font-size: 19px;
        margin: 0 auto;
    
    
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    
    #wrap2 > div > div > button {
        width: 380px;
        height: 80px;
        background-color: #13bd7e;
        border-radius: 9px;
        border: none;
    }
    
    #j {
        background-image: url(img/jeonse-house.png);
        background-repeat: no-repeat;
        width: 300px;
        height: 300px;
        float: right;
        background-position: center;
        background-size: contain;
       
    
    }
    
    
}


/*이순신 응용 반응형*/

@media (max-width: 767px){

    * {margin: 0; padding: 0; box-sizing: border-box;}
   
    ul, ol, li { list-style: none; margin: 0; padding: 0;}
   
    #wrap3 {  width: 100%;
       height: auto;
       margin: 0 auto;
       display: flex;
       justify-content: space-evenly;
       align-content: space-evenly;
       flex-flow: row wrap; }
   
    #wrap3 h2 { font-size: 20px; padding: 10px; line-height: 50px; margin-top: 10px;}
    
   
    #div1 {width: 100%; height: 1250px; text-align: left;}
    #div2 {width: 100%; height: 1250px; text-align: left; display: none;}
    #div3 { width: 100%; height: 1250px; text-align: left; display: none;}
   
    #wrap3 img { width: 100%; height: 400px; border-radius: 20px;}
   
    .textbox {width: 90%; height: 300px; background-color: #f2f1e4; margin: 30px 0 0 30px; font-size: 14px; line-height: 
   30px; color: #666;}
   
   
   #button_1 {
       width: 100%;
       height: 80px;
       background-color: #ff8aad;
       border-radius: 10px;
       border: none;
       margin: 10px 0px;
       position: relative;
     }
   
     #button_1 img {
       width: 50px;
       height: 50px;
       position: absolute;
       left: 20px;
       bottom: 15px;
     }
   
     #button_1 > p:nth-of-type(1) {
       text-align: left;
       margin-left: 80px;
       color: #fff;
     }
   
     #button_1 > p:nth-of-type(2) {
       text-align: left;
       margin-left: 80px;
       font-size: 20px;
       color: #fff;
     }
   
   
   
   
     #button_2 {
       width: 100%;
       height: 80px;
       background-color: #877af5;
       border-radius: 10px;
       border: none;
       margin: 20px 0px;
       position: relative;
     }
   
     
     #button_2 img {
       width: 50px;
       height: 50px;
       position: absolute;
       left: 20px;
       bottom: 15px;
     }
   
     #button_2 > p:nth-of-type(1) {
       text-align: left;
       margin-left: 80px;
       color: #fff;
     }
   
     #button_2 > p:nth-of-type(2) {
       text-align: left;
       margin-left: 80px;
       font-size: 20px;
       color: #fff;
     }
   
   
   
     #article_b > button {
   
       background-color: rgba(0, 0, 0, 0);
       border: none;
       color: #8f8f8f;
   
     }

     #article_b  {
        margin-top: 100px;
     }
   
   
}
   
@media (min-width: 768px){
       * {margin: 0; padding: 0; box-sizing: border-box;}
   
       ul, ol, li { list-style: none; margin: 0; padding: 0;}
   
       #wrap3 {width: 1000px; height: 1200px; margin: 0 auto; }
   
       #wrap3 h2 { font-size: 30px; padding: 10px; margin-top: 20px;}
       
     
       #div1 {width: 90%; height: 1200px; text-align: left;}
       #div2 {width: 90%; height: 1200px; text-align: left; display: none;}
       #div3 { width: 90%; height: 1200px; text-align: left; display: none;}
     
       #wrap3 img { width: 100%; height: 500px; border-radius: 20px;}
     
       .textbox {width: 95%; height: 300px; background-color: #f2f1e4; margin: 30px 0 0 30px; font-size: 18px; line-height: 35px; color: #666;}
   
       #button_1 {
           width: 100%;
           height: 80px;
           background-color: #ff8aad;
           border-radius: 10px;
           border: none;
           margin: 20px 0px;
           position: relative;
         }
       
         #button_1 img {
           width: 50px;
           height: 50px;
           position: absolute;
           left: 20px;
           bottom: 15px;
         }
       
         #button_1 > p:nth-of-type(1) {
           text-align: left;
           margin-left: 80px;
           color: #fff;
         }
       
         #button_1 > p:nth-of-type(2) {
           text-align: left;
           margin-left: 80px;
           font-size: 20px;
           color: #fff;
         }
       
       
       
       
         #button_2 {
           width: 100%;
           height: 80px;
           background-color: #877af5;
           border-radius: 10px;
           border: none;
           margin: 20px 0px;
         }
   
         
     #button_2 {
       width: 100%;
       height: 80px;
       background-color: #877af5;
       border-radius: 10px;
       border: none;
       margin: 20px 0px;
       position: relative;
     }
   
     
     #button_2 img {
       width: 50px;
       height: 50px;
       position: absolute;
       left: 20px;
       bottom: 15px;
     }
   
     #button_2 > p:nth-of-type(1) {
       text-align: left;
       margin-left: 80px;
       color: #fff;
     }
   
     #button_2 > p:nth-of-type(2) {
       text-align: left;
       margin-left: 80px;
       font-size: 20px;
       color: #fff;
     }
       
         #article_b > button {
   
           background-color: rgba(0, 0, 0, 0);
           border: none;
           color: #8f8f8f;
         }

         #article_b  {
            margin-top: 200px;
         }
   
 }


 /*뱅크 샐러드의 장점*/
 @media (max-width: 767px) {

  * { margin: 0; padding: 0; }

  #wrap4 { display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 500px;
    
 
}

     #g {
        width: 60%;
        height: 70%;
        margin-left: 10px;
        padding: 20px;

    
    }

    #wrap4 > div {
        width: 100%;
        height: 200px;
        display: flex;
       align-items: center;
  
    }

    #wrap4 > div > p {

        
        line-height: 25px;
       font-size: 14px;
       text-align: left;

    }
}

@media (min-width: 768px) {

  #wrap4 { display: flex;
    justify-content: space-evenly;
    width: 1000px;
    height: 300px;
    margin: 0 auto;
}

    #g {
        width: 50%;
        height: 100px;
        margin-left: 25%;
    }

    #wrap4 > div {
        width: 250px;
        height: 300px;
        /* background-color: aqua; */
    }

    #wrap4 > div > p {

        text-align: center;
        line-height: 25px;
    }
}

/*footer 부분 아직 반응형 적용 안 함*/
#wrap5 {
  width: 100%;
  height: 100px;
  background-color: #ffffff;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
}


/*footer 부분 아직 반응형 적용 안 함 */
#wrap6 {

  width: 1000px;
  height: 600px;
  background-color: #f2f1e4;
  display: flex;
  justify-content:space-between;
  flex-wrap: nowrap;
  margin: 0 auto;
}

#wrap6 > div {
  width: 200px;
  height: 350px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;

}

#wrap6 > div > a {

  font-size: 20px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  
}

#wrap6 > div > a > img {
  width: 250px;
  height: 100px;
}

#wrap6 ul > li {
  list-style: none;
  margin-bottom: 30px;
  font-size: 18px;
  text-decoration: none;
  
}

#wrap6 h3 {
  font-size: 20px;
}


/*슬라이더 부분 아직 반응형 적용 안함*/
#slidewrap {
  width: 1000px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  border-radius: 10px;

}

.slide {
  width: 3000px;
}

.slide li {
  width: 1000px;
  height: 400px;
  float: left;
}

.slide li img {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}



span {
  position: absolute;
  top: 50%;
  display: block;
  font-size: 38px;
  color: #fff;
  line-height: 40px;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
  height: 50px;
  transform: translateY(-50%);
}

span:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #000;
}

.prev {
  left: 0;
  border-radius: 0 10px 10px 0px;
  padding: 0 8px 0 2px;
}

.next {
  right: 0;
  border-radius: 10px 0px 0px 10px;
  padding: 0 2px 0 8px;
}

/*footer2 부분 아직 반응형 적용 안 함*/


#footer2 {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
  align-items: center;}

#wrap8 {
  
   height: 100px;
   background-color: #f2f1e4;

}

/*메인 페이지의 맨 마지막 부분 아직 반응형 적용 안 함*/

#wrap9 {
  width: 100%;
  height: 250px;
  background-color: #f2f1e4;
 }

 #main_last {
  width: 1000px;
display: flex;
padding: 30px 0px 0px 0px;
color: #666;
margin: 0 auto;
 }



/*다운로드 안드로이드, 애플 권유 부분 큰 폰 사진 있는 부분  -> 아직 반응형 적용 안 함 */

 #wrap9-1 {
  width: 100%;
  height: 600px;
  background-image: url('https://cdn.banksalad.com/app/banksalad-web/landing-app-ad-banner-pc.png');
  background-position: 15% 10%;

  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;

}

#award {
  color: #fff;
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}

#wrap9-1 img {
  width: 210px;
  height: 60px;
}

#wrap9-1 > div {
  margin: 15px 0px 0px 0px;

}
