
* {margin:0;  box-sizing: border-box;     font-family: "Noto Sans KR", sans-serif;

 }

ul,ol,li,a {
  list-style: none;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #666;
}
/* 
header { background-color:#fff; height:auto; padding: 0 20px;} */

nav ul > li :hover {background-color: rgb(107, 255, 186);
 color: #000000; border-radius: 9px; }

.a { cursor: pointer;}

.b {background-color: #fff;}


/*헤더 반응형 내비게이션*/

@media (max-width:999px){

  header { width:100%; display:flex;  justify-content:space-between; align-items:center;  line-height:50px; padding: 70px 20px 30px 20px;}

  nav ul {display:flex; flex-direction:column; margin-top: -5px;  background-color: #f4f3f3;}

  nav ul li  {border-bottom:1px solid #969696;}

  nav ul li a {padding:25px; text-decoration:none; color:#666; display:block;}

  .a {display:block;}

  .b {display:none; position: absolute; top:150px; left: 0px; width: 100%;}
  .b ul li a{display: block; width: 100%; line-height: 150%;}

  }

@media (min-width:1003px){
        
      header { display:flex; width: 1000px;
        margin: 0 auto; 
        justify-content:space-between; align-items:center;  line-height:50px;
        padding-top: 90px;
    padding-bottom: 40px;
    }

      nav ul {display:flex; }

      nav ul li a {padding:15px; text-decoration:none; color:#666; position: relative;}

      .a {display:none;}

      .b {display:block;}


  }



/*search 버튼*/
/* #search_btn_div {
    margin: 0 auto;
    width: 1000px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search_btn_div>button  {
    width: 690px;
    height: 60px;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid green;
    font-size: 20px;
    text-align: left;
    padding: 10px;
    color: #666;
}  

#search_btn_div>button>div {
    display: flex;
    justify-content: space-between;
}
 */



 /*카드 설명 부분*/
 
@media all and (max-width: 599px) {
    
  

 #sub_wrap1 { 
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   justify-items: center;
   align-items: center;
 margin-top: 50px;
position: relative;}

#sub_wrap1>div:nth-of-type(1) {
    width: 70%;

    background-image: url(img/sub_card_background.jpg);
    /* background-color: green; */
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    background-size: contain;
    margin-top: 20%;

}


#sub_wrap1>div:nth-of-type(1) > img {
    width: 70%;  transform: rotate(90deg); margin: 20% 16%;

}


#sub_wrap1>div:nth-of-type(2) {
    width: 120%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: yellow; */



}

#sub_wrap1>div:nth-of-type(2) >div:nth-of-type(1) {
   width: 100%;
    position: absolute;
    top: -10%;
    left: 0;
    padding-bottom: 30px;
    display: inline-block;
}

#title_1 {
    font-size: 22px;
    margin-left: 18px;
    margin-top: 30px;
    font-weight: bold;
    color: #3c3c3c;
}

#title_2 {
    font-size: 18px;
    margin-left: 23px;
    font-weight: 500;
    color: #3c3c3c;
} 


#sub_wrap1>div:nth-of-type(2) >div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
    color: #282828; 
    padding: 40px 50px;
    /* background-color: blue; */
   
 
    
 
}


#sub_wrap1>div:nth-of-type(2) >div:nth-of-type(2) > div {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 30px;
    width: 100%;
   
    height: 70px;
    /* background-color: red; */
    margin: 20px;
    text-align: center;
    font-size: 16px;
}

#sub_wrap1>div:nth-of-type(2) >div:nth-of-type(2) > div > img {
    width: 70%;
    padding-left: 40%;
}


#sub_plus_link{
 
 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
   top: 24%;
    right: 0;


}

#sub_plus_link  img {
    width: 18%;
    float: right;
    margin-right: 30px;
}

}

@media all and (min-width: 600px) and (max-width: 999px) { 

    


 #sub_wrap1 { 
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
   justify-items: center;
   align-items: center;
 margin-top: 50px;
position: relative;}

#sub_wrap1>div:nth-of-type(1) {
    width: 57%;

    background-image: url(img/sub_card_background.jpg);
    /* background-color: green; */
    background-repeat: no-repeat;
    position: relative;
    background-size: contain;
    margin-top: 100px;

}


#sub_wrap1>div:nth-of-type(1) > img {
    width: 70%;  transform: rotate(90deg); margin: 20% 8%;

}


#sub_wrap1>div:nth-of-type(2) {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: yellow; */



}

#sub_wrap1>div:nth-of-type(2) >div:nth-of-type(1) {
   width: 100%;
    position: absolute;
    top: -30%;
    left: 0;
    padding: 10px 0px ;

}

#title_1 {
    font-size: 30px;
    margin-left: 20px;
    margin-top: 7%;
    padding-top: 12%;
    top: 40%;
}

#title_2 {
    font-size: 18px;
    margin-left: 20px;
} 


#sub_wrap1>div:nth-of-type(2) >div:nth-of-type(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 16px;
    color: #282828; 
    padding: 40px 20px;
    /* background-color: blue; */
   
 
    
 
}


#sub_wrap1>div:nth-of-type(2) >div:nth-of-type(2) > div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin-left: 30px;
    width: 22%;
   
    height: 70px;
    background-color: red;
    margin: 20px;
    text-align: center;
    font-size: 16px;
}

#sub_wrap1>div:nth-of-type(2) >div:nth-of-type(2) > div > img {
    width: 70%;
    padding-left: 40%;
}


#sub_plus_link{
    width: 100%;
 
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 40%;
    right: 0;
    margin-top: 7%; 
    display: inline-block;



}

#sub_plus_link  img {
    width: 5%;
    float: right;
    margin-right: 20px;

    
}


 }

@media all and (min-width: 1000px) {
 


 #sub_wrap1 { 
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
 margin-top: 50px;}

#sub_wrap1>div:nth-of-type(1) {
    width: 400px;
    height: 400px;
    background-image: url(img/sub_card_background.jpg);
    background-position: center;
    background-size: cover;

}

#sub_wrap1>div:nth-of-type(1) > img {
    height:200px;  transform: rotate(90deg); margin: 28% 8%;

}

#title_1 {
    font-size: 40px;
    font-weight: bold;
    margin-left: -30px;
}

#title_2 {
    font-size: 30px;
    margin-left: 10px;
    margin-left: -20px;
}


#sub_wrap1>div:nth-of-type(2) {
    width: 640px;
 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* background-color: blue; */
    
}

/*신한카드 deep oil와 공유버튼*/
#sub_wrap1>div:nth-of-type(2) > div:nth-of-type(1) {
    display: flex;
    justify-content: space-around;
    /* background-color: red; */
    display: flex;
    height: 164px;
    width: 600px;
}

/*다른 주유소 10% 할인 부분*/

#sub_wrap1>div:nth-of-type(2) >div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 5%;
    font-size: 20px;
    color: #282828;
}


#sub_wrap1>div:nth-of-type(2) >div:nth-of-type(2) > div {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

#sub_wrap1>div:nth-of-type(2) >div:nth-of-type(2) > div > img {
    width: 38px;
    vertical-align: middle;
}

#sub_wrap1>div:nth-of-type(2) >div:nth-of-type(2) > div > p {
    margin-left: 20px;
}

#sub_plus_link  {
    width: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

#sub_plus_link img  {
    width: 50px;
}

    
}




/*간편신청, 온라인 신청*/



@media all and (max-width: 599px) {
       
     #sub_wrap2 {
        width: 100%;
        height: 100px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 90px;
        position: fixed;
        bottom: 0%;
        background-color: rgba(255, 255, 255, 0.6);
    }
    
    #sub_wrap2 > button {
    
        width: 45%;
        height: 60px;
        margin-left: 13px;
        border-radius: 4px;
        border: none;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    } 
}

@media all and (min-width: 600px) and (max-width: 999px) { 

     #sub_wrap2 {
    width: 100%;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    position: fixed;
    bottom: 0%;
    background-color: rgba(255, 255, 255, 0.6);
}

#sub_wrap2 > button {

    width: 45%;
    height: 60px;
    margin-left: 13px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

    }

@media all and (min-width: 1000px) {
      #sub_wrap2 {
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
}

#sub_wrap2 > button {

    width: 200px;
    height: 60px;
    margin-left: 13px;
    border-radius: 4px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}
}





/*연회비 신청*/


@media all and (max-width: 599px) {

    #sub_wrap3 {
        width: 100%;
       
        border-top: 1px solid #666;
        
        margin: 0 auto;
        margin-top: 100px;
    }
    
    
    
    #sub_wrap3 h2 { padding: 10px 25px; border-bottom: 1px solid #666; font-size: 20px; color: #3f3f3f; }
    
    #sub_wrap3 h2 img {transition: all 0.3s;}
#sub_wrap3 h2 img.click { transform: rotate(180deg); }

    #sub_wrap3 table { width: 100%; text-align: center;}
    
    #sub_wrap3 table th,td {padding: 10px 0px;}
    
    #sub_wrap3 div {display: none; width: 100%; }
    
    
    #sub_wrap3 table img { width: 20%;}
        
}

@media all and (min-width: 600px) and (max-width: 999px) { 

    #sub_wrap3 {
        width: 100%;
       
        border-top: 1px solid #666;
        
        margin: 0 auto;
        margin-top: 100px;
    }
    
    
    
    #sub_wrap3 h2 { padding: 10px 25px; border-bottom: 1px solid #666; font-size: 20px; color: #3f3f3f; }

    #sub_wrap3 h2 img {transition: all 0.3s;}
#sub_wrap3 h2 img.click { transform: rotate(180deg); }
    
    #sub_wrap3 table { width: 100%; text-align: center;}
    
    #sub_wrap3 table th,td {padding: 10px 0px;}
    
    #sub_wrap3 div {display: none; width: 100%; }
    
    
    #sub_wrap3 table img { width: 20%;}
        
    }

@media all and (min-width: 1000px) {
  
    #sub_wrap3 {
    width: 1000px;
   
    border-top: 1px solid #666;
    
    margin: 0 auto;
    margin-top: 100px;
}



#sub_wrap3 h2 { padding: 10px 25px; border-bottom: 1px solid #666; font-size: 20px; color: #3f3f3f; }
#sub_wrap3 h2 img {transition: all 0.3s;}
#sub_wrap3 h2 img.click { transform: rotate(180deg); }
#sub_wrap3 table { width: 1000px; text-align: center;}

#sub_wrap3 table th,td {padding: 10px 0px;}

#sub_wrap3 div {display: none; width: 1000px; }


#sub_wrap3 table img { width: 40px;}
    
}





/*유의 사항 */


@media all and (max-width: 599px) {
    #sub_wrap4 {
        margin-top: 80px;
        width: 100%;
        height: 300px;
        margin: 0 auto;
    
    }

    #sub_wrap4 li {
        line-height: 30px;
    }     
        
}

@media all and (min-width: 600px) and (max-width: 999px) { 

    #sub_wrap4 {
        margin-top: 80px;
        width: 100%;
        height: 300px;
        margin: 0 auto;
    
    }

    #sub_wrap4 li {
        line-height: 25px;
    }      
}
    

@media all and (min-width: 1000px) {
    #sub_wrap4 {
        margin-top: 100px;
        width: 1000px;
        height: 300px;
        margin: 0 auto;
    
    }

    #sub_wrap4 li {
        line-height: 30px;
    }      
}



/*글자 슬라이더 */


#slide_Btn  >ul{ width: 1000px; 
    height: 50px;
   font-size: 20px;
    margin: 0 auto;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}


/*할인 한 눈에 모아보세요 타이틀*/

@media all and (max-width: 599px) {

    #sub_wrap5 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fdfbfb;
        margin-top: 50px;
        position:relative;
    
    }
    
    #sub_wrap5 >span >img {width: 150px; opacity: 0.2;}
    
    
    #sub_wrap5 h3 {
        text-align: center;
        color: #252525;
   
       position: absolute;
        
    
    } 
        
}

@media all and (min-width: 600px) and (max-width: 999px) { 

    #sub_wrap5 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #fdfbfb;
        margin-top: 50px;
        position:relative;
    
    }
    
    #sub_wrap5 >span >img {width: 150px; opacity: 0.2;}
    
    
    #sub_wrap5 h3 {
        text-align: center;
        color: #252525;
   
       position: absolute;
        
    
    }    
    }

@media all and (min-width: 1000px) {
 
    #sub_wrap5 {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: #fdfbfb;
    margin-top: 50px;
    position:relative;
    font-size: 20px;

}

#sub_wrap5 >span >img {width: 150px; opacity: 0.2;}


#sub_wrap5 h3 {
    text-align: center;
    color: #252525;
   margin: 4% auto;
   position: absolute;
    

}    
}



/*내용 부분*/
/*반응형 아직 안 함*/

@media all and (max-width: 599px) {
    #leftWrap { width: 100%; height: auto; background-color: #fff; }
    #leftWrap .content { width: 100%; height: auto; top:0; display: flex; flex-direction: column;}
    #leftWrap .content div {width: 100%; height: auto;}
/*     
    #sub_wrap6 img { float: right; padding: 5px; margin-left: 10px;} */
    
    #border_box img {
        width: 30%;
        float: right; padding: 5px; margin-left: 10px;
    }
    #border_box {
    
        background-color: rgb(250, 250, 250); 
        padding: 20px; 
        position: relative;
        border-bottom: 1px solid rgb(0, 0, 0);
    
    }
    
    #border_box h3 {
        font-size: 40px;
    }
    
    #border_box li {
        font-size: 20px;
        line-height: 40px;
      
    }
    
    #border_box li:nth-of-type(2n) { margin-left: 10px;  margin-bottom: 10px;}
    
    #border_box li b { font-size: 25px; }
    
    
    #content_box { position: absolute; top: 6%; right: 5%; width: 50px; height: 50px;}
    
    #content_box img {width: 10%;}
    #content_box img:hover {cursor: pointer;}
    
    #popup { width: 95%; height: 100%; background-color: rgb(241, 241, 241); position: fixed; top:50%; left: 50%; transform:translate(-50%, -50%); border-radius: 20px;}
    
    #boxWrap {width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.7); position: fixed; top:0; left: 0; z-index: 100; display: none;}
    
    #popup img {width: 8%; position: relative; top:10px; left: 10px; cursor: pointer;}

    
    #popup_text {
        font-size: 11px;
       display: flex;
       flex-direction: column;
       flex-wrap: nowrap;
       align-items: baseline;
 
    }
    
    #popup_text > div { width: 500px; height: 20%; padding: 20px;  }
    
    
    
    

        
}

@media all and (min-width: 600px) and (max-width: 999px) { 
    #leftWrap { width: 100%; height: auto; background-color: #fff; }
    #leftWrap .content { width: 100%; height: auto; top:0; display: flex; flex-direction: column;}
    #leftWrap .content div {width: 100%; height: 600px;}
    
    #border_box img {
        width: 30%;
        float: right; padding: 5px; margin-left: 10px;
    }
    
    #border_box {
    
        background-color: rgb(250, 250, 250); 
        padding: 20px; 
        position: relative;
        border-bottom: 1px solid rgb(0, 0, 0);
    
    }
    
    #border_box h3 {
        font-size: 40px;
    }
    
    #border_box li {
        font-size: 20px;
        line-height: 40px;
      
    }
    
    #border_box li:nth-of-type(2n) { margin-left: 10px;  margin-bottom: 10px;}
    
    #border_box li b { font-size: 25px; }
    
    
    #content_box { position: absolute; top: 6%; right: 5%; width: 50px; height: 50px;}
    
    #content_box img {width: 10%;}
    #content_box img:hover {cursor: pointer;}
    
    #popup { width: 95%; height: 100%; background-color: rgb(241, 241, 241); position: fixed; top:50%; left: 50%; transform:translate(-50%, -50%); border-radius: 20px;}
    
    #boxWrap {width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.7); position: fixed; top:0; left: 0; z-index: 100; display: none;}
    
    #popup img {width: 3%; position: relative; top:10px; left: 10px; cursor: pointer;}

    
#popup_text {
    font-size: 12px;
   display: flex;
   flex-direction: column;
   flex-wrap: nowrap;
   align-items: baseline;
   margin-top: 0px;
}

#popup_text > div { width: 500px; height: 20%; padding: 20px;  }



    
}

@media all and (min-width: 1000px) {
      

#leftWrap { width: 100%; height: 2000px; background-color: #fff; }
#leftWrap .content { width: 3000px; position: sticky; top:0; display: flex;
color: #050505;}
#leftWrap .content div {width: 100%; height: 800px;}

#border_box img {
    width: 30%;
    float: right; padding: 5px; margin-left: 10px;
}

#border_box {

    background-color: rgb(250, 250, 250); padding: 50px; border-radius: 30px; margin: 30px;
    position: relative;

}

#border_box h3 {
    font-size: 40px;
}

#border_box li {
    font-size: 20px;
    line-height: 40px;
}

#border_box li:nth-of-type(2n) { margin-left: 10px;  margin-bottom: 10px;}

#border_box li b { font-size: 25px; }


#content_box { position: absolute; top: 80%; right: 10%; width: 50px; height: 50px;}

#content_box img {width: 80px;}
#content_box img:hover {cursor: pointer;}

#popup { width: 98%; height: 80%; background-color: rgb(241, 241, 241);position: fixed; top:50%; left: 50%; transform:translate(-50%, -50%); border-radius: 20px;}

#boxWrap {width: 100vw; height: 100vh; background-color: rgba(0, 0, 0, 0.7); position: fixed; top:0; left: 0; z-index: 100; display: none;}

#popup img {width: 3%; position: relative; top:10px; left: 10px; cursor: pointer;}


#popup_text {
    font-size: 15px;
   display: flex;
   flex-direction: row;
   flex-wrap: nowrap;
   align-items: baseline;
   margin-top: 50px;
}

#popup_text > div { width: 500px; height: 500px; padding: 30px;  }


#popup_text > div:not(:last-of-type) { border-right: 0.5px solid #969696;}



}



/*여기서부터는 index.html이랑 똑같음*/

/*footer1*/
@media all and (max-width: 599px) {
    #wrap7 {
  
        width: 100%;
        height: 400px;
        background-color: #ffffff;
        display: flex;
        justify-content:space-between;
        flex-wrap: nowrap;
        margin: 0 auto;
        color: #272727;
      }
      
      #wrap7 > div {
        width: 90%;
        height: 160px;
        margin-top: 10%;
        margin-left: 14px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;

    
      
      }
      
     #wrap7 > div > ul >li > a {
      
       font-size: 13px;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        
      } 
      
      #wrap7 > div > a > img {
        width: 90%;
        
      }
      
      #wrap7 ul > li {
        list-style: none;
        margin-bottom: 15px;
        font-size: 14px;
        text-decoration: none;
        width: 100%;
        
      }
      
      #wrap7 h3 {
        font-size: 15px;
      }

  
}

@media all and  (min-width: 600px) and (max-width: 999px) {
  #wrap7 {
  
    width: 100%;
    height: 450px;
    background-color: #ffffff;
    display: flex;
    justify-content:space-between;
    flex-wrap: nowrap;
    margin: 0 auto;
    color: #272727;
   
  }
  
  #wrap7 > div {
    width: 250px;
    height: 253px;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
 

  
  }
  

  
  #wrap7 > div > a > img {
    width: 200px;
    
  }
  
  #wrap7 ul > li {
    list-style: none;
    margin-bottom: 15px;
    font-size: 16px;
    text-decoration: none;
   
    
  }
  
  #wrap7 h3 {
    font-size: 20px;
  }

}

@media all and (min-width: 1000px) {
    #wrap7 {
  
        width: 1000px;
        height: 450px;
        background-color: #ffffff;
        display: flex;
        justify-content:space-between;
        flex-wrap: nowrap;
        margin: 0 auto;
        color: #272727;
      }
      
      #wrap7 > div {
        width: 200px;
        height: 253px;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
      
      }
      
    
      
      #wrap7 > div > a > img {
        width: 200px;
        
      }
      
      #wrap7 ul > li {
        list-style: none;
        margin-bottom: 15px;
        font-size: 16px;
        text-decoration: none;
        width: 300px;
        
      }
      
      #wrap7 h3 {
        font-size: 20px;
      }

}

/*footer2, 일렬로 되어있음*/
@media all and (max-width: 599px) {
      
  #footer2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    align-items: center;
    font-size: 12px;
    padding: 0px 20px;
    /* align-content: space-around; */

  }

  #footer2 > li {

    margin-left: 20px;
  }
  
  #wrap8 {
    
     height: 100px;
    
  
  }
  
}

@media all and  (min-width: 600px) and (max-width: 999px) {
      
  #footer2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100px;
    margin: 0 auto;
    align-items: center;
    font-size: 15px;
    padding: 0px 20px;
  }
  
  #footer2 > li {

    margin-left: 10px;
  }

  #wrap8 {
    
     height: 100px;

  
  }

}

@media all and (min-width: 1000px) {
      
  #footer2 {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 100px;
    margin: 0 auto;
    align-items: center;
  }
  
  #wrap8 {
    
     height: 100px;

  
  }

}


/*맨 마지막 부분*/
@media all and (max-width: 599px) {
    #wrap9 {
        width: 100%;
        height: 200px;
        font-size: 11px;
     
       }
      
       #main_last {
        width: 100%;
      display: flex;
      padding: 30px 0px 0px 0px;
      color: #666;
      margin: 0 auto;
      padding: 0px 20px;
       }
  
}

@media all and  (min-width: 600px) and (max-width: 999px) {
    #wrap9 {
        width: 100%;
        height: 250px;
        font-size: 12px;
       }
      
       #main_last {
        width: 100%;
      display: flex;
      padding: 30px 0px 0px 0px;
      color: #666;
      margin: 0 auto;
      padding: 0px 20px;
       }



}

@media all and (min-width: 1000px) {
    #wrap9 {
        width: 100%;
        height: 250px;
        font-size: 13px;
       }
      
       #main_last {
        width: 1000px;
      display: flex;
      padding: 30px 0px 0px 0px;
      color: #666;
      margin: 0 auto;
       }

}